Data Understanding

In [10]:
# Import modules and Packages

# Data Handling and Visualization
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# Filter future Warnings
import warnings
warnings.filterwarnings("ignore")

# Data Preprocessing
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler

# Model Training and Evaluation
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np
from sklearn import tree
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, recall_score, f1_score, precision_score
from sklearn.metrics import ConfusionMatrixDisplay

In [11]:
# Optional: Avoiding Truncating
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

In [12]:
# Load the data into panda dataframe
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [13]:
# Number of Rows and Columns
df.shape

(3333, 21)

In [14]:
# Number of Elements in Dataframe
df.size

69993

In [15]:
# General Overview of Dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB
None

In [16]:
def check_value_counts(data):
  for column in data.columns:
    print(f'value counts for {column}')
    print(data[column].value_counts())
    print('------------------------------------------','\n')

check_value_counts(df)

value counts for state
WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64
------------------------------------------

value counts for account length
105    43
87     42
101    40
93     40
90     39
95     38
86     38
100    37
116    37
112    36
107    36
99     36
120    35
123    35
127    35
122    34
88     34
106    34
103    33
92     33
94     33
80     33
119    32
64     32
98     32
113    32
73     32
75     32
117    32
74     32
78     31
115    31
121    31
68     30
130    30
85     30
108    30
97     29
111    29
110    29
125    28
91     28
124    28
104    28
67     27
84     27
132    27
63     27
148    26
129    26
96     26
89     26
70     26
131    25
82     25
136    25
72     25
81     25
137    25
138    25
109    24
76     24
118    24
83     24
79     23
114    23
102    23
128    22
77     22
141    22
66     21
134    21
149    21
65     21
126    21
62     20
139    19
55     19
57     19
71     19
59     18
135    18
161    18
147    18
146    18
52     18
48     17
69     17
60     17
61     17
133    17
54     17
155    17
56     17
58     16
143    16
50     15
144    15
51     15
142    15
140    15
36     14
41     14
160    14
46     14
53     14
163    13
37     13
166    13
45     13
157    13
145    13
43     12
151    12
152    12
150    11
162    11
159    11
153    11
42     10
44     10
158    10
33     10
27      9
47      9
165     9
13      9
35      9
177     9
40      9
38      9
172     9
24      8
21      8
154     8
1       8
30      8
16      8
156     8
174     8
39      7
49      7
31      7
34      7
190     7
32      7
169     7
185     6
28      6
176     6
182     6
179     6
167     6
170     6
164     6
22      6
189     6
171     6
181     5
29      5
183     5
3       5
180     5
19      5
168     5
173     5
25      5
23      4
11      4
17      4
193     4
184     4
197     3
10      3
178     3
9       3
192     3
20      3
12      3
201     3
15      3
209     3
194     3
195     2
225     2
212     2
7       2
204     2
186     2
210     2
196     2
217     2
6       2
18      2
205     2
224     2
26      1
188     1
4       1
175     1
8       1
202     1
191     1
199     1
2       1
215     1
208     1
243     1
200     1
232     1
5       1
221     1
Name: account length, dtype: int64
------------------------------------------

value counts for area code
415    1655
510     840
408     838
Name: area code, dtype: int64
------------------------------------------

value counts for phone number
382-4657    1
348-7071    1
389-6082    1
415-3689    1
379-2503    1
           ..
352-1127    1
368-1288    1
403-5279    1
397-9333    1
400-4344    1
Name: phone number, Length: 3333, dtype: int64
------------------------------------------

value counts for international plan
no     3010
yes     323
Name: international plan, dtype: int64
------------------------------------------

value counts for voice mail plan
no     2411
yes     922
Name: voice mail plan, dtype: int64
------------------------------------------

value counts for number vmail messages
0     2411
31      60
29      53
28      51
33      46
27      44
30      44
24      42
26      41
32      41
25      37
23      36
36      34
22      32
35      32
39      30
34      29
37      29
21      28
38      25
20      22
19      19
40      16
42      15
17      14
16      13
41      13
43       9
15       9
18       7
44       7
14       7
45       6
12       6
46       4
13       4
47       3
50       2
9        2
8        2
11       2
48       2
49       1
4        1
10       1
51       1
Name: number vmail messages, dtype: int64
------------------------------------------

value counts for total day minutes
154.0    8
159.5    8
174.5    8
183.4    7
175.4    7
        ..
78.6     1
200.9    1
254.3    1
247.0    1
180.8    1
Name: total day minutes, Length: 1667, dtype: int64
------------------------------------------

value counts for total day calls
102    78
105    75
95     69
107    69
104    68
108    67
97     67
106    66
112    66
110    66
88     66
101    65
96     65
100    65
92     64
98     63
99     62
91     61
94     60
93     59
117    57
114    57
89     56
109    55
90     53
103    53
87     51
115    51
113    50
85     49
116    48
83     48
121    47
84     44
123    44
80     44
120    44
78     43
119    43
86     42
111    42
122    39
79     37
82     37
77     36
81     35
118    33
125    33
126    28
124    28
74     27
70     26
130    25
127    25
76     25
73     24
129    24
71     23
67     23
134    23
128    22
72     21
133    20
65     19
68     18
69     18
75     16
66     16
61     15
132    15
131    14
138    14
140    13
63     13
137    13
141    11
145    10
136     9
62      9
139     9
135     9
54      7
55      7
143     7
60      7
57      7
56      6
147     6
150     6
59      6
58      6
144     5
148     5
64      5
146     5
142     5
151     5
48      3
45      3
51      3
44      3
158     3
53      3
52      3
40      2
49      2
42      2
0       2
47      2
157     1
35      1
156     1
160     1
152     1
149     1
163     1
30      1
165     1
36      1
Name: total day calls, dtype: int64
------------------------------------------

value counts for total day charge
26.18    8
27.12    8
29.67    8
31.18    7
29.82    7
        ..
13.36    1
34.15    1
43.23    1
41.99    1
30.74    1
Name: total day charge, Length: 1667, dtype: int64
------------------------------------------

value counts for total eve minutes
169.9    9
167.2    7
180.5    7
201.0    7
161.7    7
        ..
75.3     1
293.9    1
232.8    1
173.2    1
265.9    1
Name: total eve minutes, Length: 1611, dtype: int64
------------------------------------------

value counts for total eve calls
105    80
94     79
108    71
102    70
97     70
88     69
101    68
109    67
98     66
111    65
103    64
96     63
90     62
110    61
87     61
104    60
106    60
115    60
99     59
95     59
113    58
93     57
83     56
91     56
100    55
117    55
92     55
86     54
89     54
114    54
118    54
107    50
116    48
112    48
85     47
84     47
121    42
78     40
123    40
82     39
80     39
120    37
119    37
79     36
77     35
125    35
74     35
81     34
122    34
126    30
76     30
128    28
127    26
73     23
71     23
75     21
67     20
131    20
129    19
65     19
69     18
70     17
124    17
72     17
136    17
133    17
130    16
68     16
134    15
64     15
66     14
137    14
138    13
63     13
60     12
58     11
132    11
135    10
142    10
144     9
61      9
143     8
56      8
140     8
59      8
141     7
152     6
147     6
62      6
48      6
51      5
146     5
149     5
52      5
54      5
139     5
50      4
57      4
150     3
155     3
53      3
46      3
154     2
148     2
55      2
151     2
43      1
145     1
159     1
153     1
44      1
0       1
168     1
156     1
36      1
45      1
157     1
12      1
49      1
37      1
164     1
42      1
170     1
Name: total eve calls, dtype: int64
------------------------------------------

value counts for total eve charge
14.25    11
16.12    11
15.90    10
17.09     9
18.62     9
         ..
7.85      1
8.63      1
26.54     1
6.74      1
22.60     1
Name: total eve charge, Length: 1440, dtype: int64
------------------------------------------

value counts for total night minutes
191.4    8
210.0    8
188.2    8
197.4    8
214.6    8
        ..
142.0    1
254.8    1
111.5    1
260.7    1
279.1    1
Name: total night minutes, Length: 1591, dtype: int64
------------------------------------------

value counts for total night calls
105    84
104    78
91     76
102    72
100    69
106    69
98     67
94     66
103    65
95     64
92     64
108    64
109    63
96     62
97     60
99     60
93     58
107    58
87     57
113    56
82     56
89     55
112    54
110    54
114    53
120    53
90     53
111    53
101    52
115    51
86     51
118    48
88     47
117    47
80     45
83     45
85     44
123    44
121    44
116    43
119    41
76     41
84     40
78     40
77     36
124    35
75     34
79     34
81     33
74     33
125    31
122    31
73     29
126    27
131    27
71     26
128    25
72     25
129    22
130    21
68     19
67     19
127    17
69     17
132    16
64     15
134    15
65     14
133    14
63     14
61     14
136    14
70     13
66     12
137    11
60     10
135    10
139    10
138     9
62      9
57      8
140     8
59      7
145     7
55      6
58      6
53      6
147     5
142     5
146     5
143     5
151     4
148     4
144     4
141     4
56      3
152     3
153     3
157     2
52      2
154     2
42      2
49      2
51      2
155     2
54      2
50      2
150     2
156     2
48      1
36      1
38      1
33      1
175     1
166     1
149     1
158     1
44      1
46      1
164     1
Name: total night calls, dtype: int64
------------------------------------------

value counts for total night charge
9.66     15
9.45     15
8.47     14
8.88     14
7.69     13
         ..
15.97     1
14.46     1
14.03     1
3.20      1
10.53     1
Name: total night charge, Length: 933, dtype: int64
------------------------------------------

value counts for total intl minutes
10.0    62
11.3    59
9.8     56
10.9    56
10.1    53
10.6    53
10.2    53
11.0    52
11.1    52
9.7     51
11.4    51
9.5     51
11.5    50
10.5    49
11.8    48
8.9     48
11.6    47
11.2    46
9.9     46
10.3    46
10.7    46
9.1     45
8.8     45
9.2     45
12.0    44
9.4     44
9.6     43
10.8    41
12.2    40
9.0     39
8.4     39
12.3    38
12.1    38
7.5     37
8.7     37
9.3     37
7.8     36
13.3    36
8.0     36
8.5     36
11.7    36
12.9    36
8.2     35
11.9    34
7.7     34
8.3     34
13.1    34
10.4    34
12.4    33
8.6     33
12.6    33
13.2    33
12.8    32
12.7    31
13.0    31
12.5    31
7.6     27
7.1     26
7.9     26
7.2     25
7.3     24
13.4    24
6.6     24
13.8    22
5.9     22
6.4     22
14.0    21
14.1    21
6.7     21
7.4     21
13.5    20
8.1     20
6.3     19
6.8     19
13.7    19
0.0     18
14.4    17
13.9    17
7.0     17
6.5     16
6.9     16
14.7    16
14.2    16
6.1     15
5.8     14
13.6    14
14.6    13
14.3    13
6.0     13
14.8    12
5.6     12
14.5    11
6.2     11
5.3     11
5.4     10
15.0    10
5.0     10
5.5      9
15.6     9
5.7      9
15.3     8
15.5     8
15.2     8
5.1      8
15.4     8
15.1     7
14.9     7
4.9      7
4.2      7
16.1     6
4.5      6
16.4     6
15.8     6
5.2      5
16.9     5
4.4      5
4.7      5
3.8      5
15.7     4
17.0     4
15.9     4
4.3      4
4.1      4
16.2     4
4.6      4
4.8      4
16.5     4
3.5      4
3.7      4
17.3     3
16.0     3
18.0     3
16.7     3
17.5     3
2.1      2
3.9      2
3.6      2
17.8     2
3.3      2
16.3     2
17.6     2
16.6     2
18.2     2
4.0      2
2.0      2
2.9      2
18.3     1
3.1      1
1.1      1
3.4      1
2.6      1
2.4      1
2.2      1
18.4     1
17.9     1
20.0     1
17.1     1
2.7      1
18.9     1
17.2     1
1.3      1
2.5      1
Name: total intl minutes, dtype: int64
------------------------------------------

value counts for total intl calls
3     668
4     619
2     489
5     472
6     336
7     218
1     160
8     116
9     109
10     50
11     28
0      18
12     15
13     14
15      7
14      6
18      3
16      2
19      1
20      1
17      1
Name: total intl calls, dtype: int64
------------------------------------------

value counts for total intl charge
2.70    62
3.05    59
2.65    56
2.94    56
2.73    53
2.86    53
2.75    53
2.97    52
3.00    52
2.62    51
3.08    51
2.57    51
3.11    50
2.84    49
3.19    48
2.40    48
3.13    47
3.02    46
2.67    46
2.78    46
2.89    46
2.46    45
2.38    45
2.48    45
3.24    44
2.54    44
2.59    43
2.92    41
3.29    40
2.43    39
2.27    39
3.32    38
3.27    38
2.03    37
2.35    37
2.51    37
2.11    36
3.59    36
2.16    36
2.30    36
3.16    36
3.48    36
2.21    35
3.21    34
2.08    34
2.24    34
3.54    34
2.81    34
3.35    33
2.32    33
3.40    33
3.56    33
3.46    32
3.43    31
3.51    31
3.38    31
2.05    27
1.92    26
2.13    26
1.94    25
1.97    24
3.62    24
1.78    24
3.73    22
1.59    22
1.73    22
3.78    21
3.81    21
1.81    21
2.00    21
3.65    20
2.19    20
1.70    19
1.84    19
3.70    19
0.00    18
3.89    17
3.75    17
1.89    17
1.76    16
1.86    16
3.97    16
3.83    16
1.65    15
1.57    14
3.67    14
3.94    13
3.86    13
1.62    13
4.00    12
1.51    12
3.92    11
1.67    11
1.43    11
1.46    10
4.05    10
1.35    10
1.49     9
4.21     9
1.54     9
4.13     8
4.19     8
4.10     8
1.38     8
4.16     8
4.08     7
4.02     7
1.32     7
1.13     7
4.35     6
1.22     6
4.43     6
4.27     6
1.40     5
4.56     5
1.19     5
1.27     5
1.03     5
4.24     4
4.59     4
4.29     4
1.16     4
1.11     4
4.37     4
1.24     4
1.30     4
4.46     4
0.95     4
1.00     4
4.67     3
4.32     3
4.86     3
4.51     3
4.73     3
0.57     2
1.05     2
0.97     2
4.81     2
0.89     2
4.40     2
4.75     2
4.48     2
4.91     2
1.08     2
0.54     2
0.78     2
4.94     1
0.84     1
0.30     1
0.92     1
0.70     1
0.65     1
0.59     1
4.97     1
4.83     1
5.40     1
4.62     1
0.73     1
5.10     1
4.64     1
0.35     1
0.68     1
Name: total intl charge, dtype: int64
------------------------------------------

value counts for customer service calls
1    1181
2     759
0     697
3     429
4     166
5      66
6      22
7       9
9       2
8       2
Name: customer service calls, dtype: int64
------------------------------------------

value counts for churn
False    2850
True      483
Name: churn, dtype: int64
------------------------------------------

In [19]:
# Rename column titles to remove spaces
cols = []
for col in df.columns:
    col = col.replace(' ', '_')
    cols.append(col)

# Update DataFrame columns with modified column names
df.columns = cols
df.columns

Index(['state', 'account_length', 'area_code', 'phone_number', 'international_plan', 'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes', 'total_eve_calls', 'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls', 'total_intl_charge', 'customer_service_calls', 'churn'],
      dtype='object')

In [18]:
# Numerical Columns
print(f"Numerical Columns: {df.select_dtypes(include='number').columns}\n")

# Categorical Columns
print(f"Categorical Columns: {df.select_dtypes(include='object').columns}")

Numerical Columns: Index(['account_length', 'area_code', 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes', 'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge', 'customer_service_calls'],
      dtype='object')

Categorical Columns: Index(['state', 'phone_number', 'international_plan', 'voice_mail_plan'], dtype='object')